@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
body{
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    font: 'Inter';
}
nav{
    padding: 0 !important;
    margin: 0;
    gap: .4rem;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 100;
    box-shadow: 0 1px 10px #dadada;
}
main{
    width: 100%;
}
.promocao{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.img-slide{
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}
.guias{
    display: flex;
    width: 100%;
    padding: 1rem;
    gap: .5rem;
    justify-content: space-around;
    align-items: center;
}
.btn-guia{
    background-color: black;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 15rem;
    font-size: 1rem;
    padding: .2rem;
    transition: transform .6s;
}
.btn-guia:hover{
    transform: scale(1.05);
}
.title{
    font-size: 1.7rem;
    font-family: 'Inter';
    font-weight: 400;
}
section{
    margin-top: 30px;
}
.cards-wrapper{
    display: flex;
}
.card{
    border-radius: 0 !important;
    width: 18rem;
    height: 429px;
    transition: all 0.5s;
}
.card:hover{
    box-shadow: 0 0px 12px rgba(114, 114, 114, 0.568);
}
.image-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 17em;
}
.card-img-top{
    max-width: 90%;
    height: 90%;
    object-fit: contain;
}
.preco{
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
}
.card-title{
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
}
.parcela{
    font-weight: 200;
}
.ro{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: gray;
}
.l-menu{
    margin-left: 1.5rem;
}
.fa-bars{
    font-size: 2rem;
}
.logo{
    padding-top: .2rem;
    width: 13rem;
}
.left{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.4rem;
}
.search{
    width: 20rem;
    display: flex;
    flex-direction: row;
}
.input-search{
    width: 90%;
}
#search{
    padding: .4rem;
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
}
#search:focus{
    outline: none;
}
.search i, .menu-icons i{
    font-size: 1.5rem;
}
.menu-icons{
    width: 10rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.pointer:hover{
    cursor: pointer;
}
.card-inner{
    display: flex;
}
.carousel-prod{
    width: 100%;
    overflow-x: hidden;
    padding: 1rem;
    display: flex;
}
.itens-prod{
    display: flex;
    flex-direction: row !important;
    gap: 1rem;
    transition: all .5s;
}
.carbtn{
    border: none;
    border-radius: 50%;
    font-size: 2.3em;
    color: #fff;
    background-color: #aeaeae65;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    margin-top: 10rem;
    z-index: 100;
    position: absolute;
}
.prev{
    left: 1rem;
}
.next{
    right: 1rem;
}
.next{
    right: 1rem;
}
@media screen and (max-width: 640px) {
    .search{
        display: none;
    }
    .guias{
        flex-direction: column;
    }
}