@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Inter:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url("../img/zyro-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.nav-link{
    font-family: 'Inter';
    transition: all 0.3s;
}
.nav-link:hover{
    scale: 1.1;
}
.gradient{
    background-image: linear-gradient(black, rgba(0, 0, 0, 0));
}
.logo{
    width: 250px;
}
.links{
    width: 75% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-around !important;
}
.assine{
    font-family: 'Inter';
    font-size: 3em;
    color: white;
    font-weight: bold;
}
.cesta{
    font-family: 'Arizonia';
    font-size: 1.9em;
    font-weight: 400;
}
main{
    width: 100%;
}
.choco-col-1{
    background-image: url("../img/chocolate-col1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.choco-col-2{
    background-image: url("../img/chocolate-col2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.txt-sobre{
    width: 70%;
}
h2{
    font-family: 'Inter';
    font-weight: bold;
    color: #573531;
}
section{
    margin-top: 80px;
}
.content{
    margin-left: 25px;
    margin-right: 25px;
    justify-content: space-around;
}
.cards-wrapper{
    display: flex;

}
.card{
    width: 18rem;
    height: 429px;
    border-radius: 0;
    border: none;
    box-shadow: 0 0px 12px rgba(114, 114, 114, 0.568);
    transition: all 0.5s;
}
.card:hover{
    cursor: pointer;
    scale: 1.05;
}
.image-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 17em;
}
.card-img-top{
    max-width: 90%;
    height: 90%;
    object-fit: contain;
}
.preco{
    position: relative;
    display: inline-block;
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
}
.ro{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: gray;
}
.marca{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    box-shadow: 0 0px 12px rgba(114, 114, 114, 0.692);
}
.marcas-wrapper{
    margin-right: 25px;
}
.logo-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10em;
}
.logo-marca{
    max-width: 80%;
    height: 80%;
    object-fit: contain;
}
.receita{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vw/4);
    box-shadow: 0 0px 12px rgba(114, 114, 114, 0.692);
    transition: all 0.5s;
}
.receita:hover{
    cursor: pointer;
    scale: 1.01;
}
.gradient-i{
    background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.801));
    display: flex;
    align-items: end;
}
.receita-title{
    font-family: 'Inter';
    font-weight: bold;
    font-size: 2.15em;
    color: white;
}
.p-content{
    margin-top: 50px;
}
.w-90{
    width: 94% !important;
    margin-bottom: 4%;
}
.cesta-info{
    margin-right: calc(-25px + -15px);
    padding: 5%;
    background-color: white;
    box-shadow: 0 0px 12px rgba(114, 114, 114, 0.692);
}
.bnt-assine-cesta{
    margin-top: 20px;
    background-color: #EB8A30;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 12px #EB8A30;
    font-size: large;
    font-family: 'Inria Sans';
    width: 30%;
    height: 3rem;
    transition: all 0.5s;
}
.bnt-assine-cesta:hover{
    scale: 1.1;
}
.mes{
    margin-left: 1%;
    color: #808080;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    font-family: 'Inter';
}
.cesta-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.img-cesta{ 
    max-width: 80%;
    height: 80%;
    object-fit: contain;
}
.cesta-fundo{
    width: 50%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0px 12px rgba(114, 114, 114, 0.692);
}
p{
    height: 100px;
    color: gray;
}
.cesta-cont{
    margin-top: 5%;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    background-image: url('../img/footerbkgrnd-2.png');
    background-size: contain;
}
.redes-sociais{
    margin-top: 200px;
}
i{
    margin-left: 0.3em;
    font-size: 2em;
    color: white;
}
.ing-title{
    padding: 10px 0 0 10px;
}
.ingredientes{
    position: relative;
    background-color: white; 
    border: 1px solid rgba(47, 47, 47, 0.494);
    box-shadow: 0 0px 12px rgba(198, 198, 198, 0.354);
    margin-top: -10px;
    border-radius: 10px;
    z-index: -1;
    height: 500px;
    transition: height 0.45s;
}
h3{
    padding-top: 20px !important;
}
.op-0{
    height: 0 !important;
    opacity: 0 !important;
}
footer{
    gap: 20px   ;
}
.txt-cesta-info{
    font-size: 0.9em;
}